  html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
.esriPopup.myTheme .titlePane, .dj_ie7 .esriPopup.myTheme .titlePane .title {
  background-color:#f59090;
  color:#333;
  font-family: Bitter, serif;
  font-size: 20px;
  font-weight: 400;
}

.esriPopup.myTheme .titlePane {
  border-bottom:1px solid #121310;
  padding: 10 20 10 20;
}

.esriPopup.myTheme a {
  color:#d6e68a;
}

.esriPopup.myTheme .contentPane,
.esriPopup.myTheme .actionsPane {

  color:#fff;
  border-color:0 solid #121310;
  padding: 0;
}

.esriPopup.myTheme .action.zoomTo { display: none; }

.w-clearfix:before,
.w-clearfix:after {
  content: " ";
  display: table;
}
.w-clearfix:after {
  clear: both;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container:before,
.w-container:after {
  content: " ";
  display: table;
}
.w-container:after {
  clear: both;
}

.w-section {
  display: block;
}

.infopane {
  
  height: 100%;
  padding: 20px 25px;
}

.infopane.leftinfo {
  float: left;
  background-color: #c6ddaf;
  width: 29%;
}

.infopane.rightinfo {
  float: right;
  background-color: #b8cedd;
  width: 53.9%;
}

.titlepane {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, .7);
  background-color: #cd4747;
  font-family: Bitter, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.infopanetitle {
  margin-bottom: 20px;
}

.infodatatable {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .26);
  font-size: 14;
}

.infodatatablecol1 {
  width: 50%;
  float: left;
}

.infodatatablecol2 {
  width: 50%;
  float: right;
  font-weight: 400;
  text-align: left;
}

.infodatarow {
  padding: 2px 5px;
}

.infodatarow.altcolor {
  background-color: rgba(0, 0, 0, .10);
}

.insertcontent {
  background-color: #c6ddaf;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .74);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.topsection {
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 10px;
  background-color: #ab0520;
}

.pagetitle {
  position: relative;
  top: -10px;
  display: inline-block;
  margin-left: 50px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 38px;
}

.floornavigator {
  position: fixed;
  left: 20px;
  top: 190px;
  z-index: 100;
  width: 30px;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .6);
  border-radius: 5px;
  background-color: #fff;
}

.floorbutton {
  display: block;
  width: 23px;
  height: 25px;
  margin-right: auto;
  margin-left: 4px;
}

.floorbutton.upbutton {
  display: block;
  margin-top: 2px;
  background-image: url('images/up.png');
  background-position: 0px 0px;
  background-size: contain;
}

.floorbutton.upbutton:hover {
  background-color: #d0dde6;
}

.floorbutton.downbutton {
  display: block;
  margin-top: -3px;
  margin-right: auto;
  padding-left: 0px;
  background-image: url('images/down.png');
  background-position: 0px 0px;
  background-size: contain;
}

.floorbutton.downbutton:hover {
  background-color: #d0dde6;
}

.floorindicator {
  display: block;
  margin-top: -5px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}